dlib
facenet-pytorch
ffmpy
grad-cam
imageio
imbalanced-learn
imutils
insightface
jupyter
lightgbm
matplotlib
mediapipe>=0.8.10
mord
notebook
numpy
onnx
onnxruntime
onnxruntime-gpu
opencv-python
opencv-contrib-python
pandas
Pillow
pytesseract
pytube
-e git+https://github.com/xinntao/Real-ESRGAN.git@e2db57602068a839b0f53df9efca7e57fa3c8a99#egg=realesrgan
scikit-image
scikit-learn
scipy
tensorboard
tensorflow
tensorflow-estimator
tflite
timm
torch
torchaudio
torchvision
tqdm
urllib3
xgboost
youtube-dl
